<mat-form-field appearance="outline" class="bottom-space-0 w-full">
    <mat-label>-- Select --</mat-label>
    <mat-select >
        <mat-option style="display: none;">Option 1</mat-option>
      <app-expand-collapse>
        <app-expand-collapse>asg</app-expand-collapse>
      </app-expand-collapse>
      <app-expand-collapse>sag</app-expand-collapse>
      <app-expand-collapse>sag</app-expand-collapse>
      <app-expand-collapse>asg</app-expand-collapse>
      <app-expand-collapse>sag</app-expand-collapse>
      <app-expand-collapse>sag</app-expand-collapse>
      <app-expand-collapse>sag</app-expand-collapse>
    </mat-select>
  </mat-form-field>