@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-nav-bg: #464C59;
      --color-nav-bg-hover: #515A66;
      --color-body-bg: #F1F3FA;
    }

  }
body {
    background: var(--color-body-bg);
}
mat-form-field{
    .mat-mdc-text-field-wrapper {
        height: 40px;
    }
    .mat-mdc-form-field-flex {
        .mdc-notched-outline__notch {
            border-right: 0px;
        }
    }
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined{
        .mat-mdc-form-field-infix {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    .mdc-text-field{
        .mdc-floating-label{
            transform: translateY(-94%);
        }
    }
    &.bottom-space-0{
        .mat-mdc-form-field-subscript-wrapper{
            display: none;
        }
    }
   
}